<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css">
    <script type="text/javascript" src="/script"></script>
</head>

<body>
    <div class="wrapper">
        <h2 class="title">
            Biodata
            <div class="actions">
                <img class="button" src="icon/add.png" onclick="openAddForm()" alt="Add">
            </div>
        </h2>
        <div class="data">
            <div id="userData"></div>
        </div>
    </div>

    <script>
        window.addEventListener('load', function () {
            getAllUserData();
        });
    </script>
</body>

</html>